/* CSS declarations go here */

html {
    overflow-y: scroll;
}

#page_controls {
  position: fixed;
  top: 2px;
  right: 2px;
  width: 100px;
}

#page_controls > button {
  width: 100%;
}

#logo {
    width: 468px;
    height: 163px;
    background-image:url('/image/ssu_logo.jpg');
    background-size: 100%;
    position: absolute;
    top: 70px;
    right: 0px;
    left: 0px;
    margin: auto;
}

#logo-wrapper {
    width: 500px;
    position: absolute;
    top: -2px;
    right: -5px;
    bottom: 0px;
    margin: auto;
}

#home-wrapper input {
    width: 97%;
    margin-top: 200px;
    font-size: 28px;
    height: 30px;
    -webkit-transition: border 1s; /* For Safari 3.1 to 6.0 */
    transition: border 1s;
}

#home-wrapper input:hover {
    border: 1px solid #43759C;
}


.hidden {
  display: none;
  visibility: hidden;
}

hr.clear {
  clear: both;
}

#results td {
    padding-right: 10px;
}

.courseDisplay {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid;
}

.courseDisplay .description td {
    font-size: 18px;
    padding: 10px 10px 10px 0;
}

.classDisplay {
    border: 1px solid;
    padding: 5px;
    margin: 5px 0;
}

.description {
    font-weight: bold;
}

