/* CSS declarations go here */

html {
    overflow-y: scroll;
}

#page_controls {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}


#planLayout {
    width: 90%;
    margin: auto;
}

#searchLayout {
    width: 75%;
    margin: auto;
}

#logo, #query {
    display: block;
}

#logo {
    padding: 30px 0;
}

#query {
    width: 98%;
    margin-bottom: 30px;
    height: 40px;
    font-size: 25px;
}

#query:hover {
    border: 1px solid #43759C;
}

/* Schedules */

h3.header {
  float: left;
  margin-right: 100px;
  margin-top: 0px;
  height: 100px;
}
.add-code-row {
  border: 1px solid #DDD;
  background-color: #EEE;
}

.add-code-row > td {
  padding: 5px;
}

tr.header {
  font-size: large;
  background-color: #DDD;
}

/* Generic */

.hidden {
  display: none;
  visibility: hidden;
}

hr {
  border-color: transparent;
}

hr.clear {
  clear: both;
}

#addCodes, #scheduleTable {
  display: inline-block;
  height: 120px;
  margin: 5px;
}

#results td {
    padding-right: 10px;
}

.courseDisplay {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid;
}

.classRow:nth-child(even){
    background-color: #ececec;
}

.courseDisplay .description td {
    font-size: 18px;
    padding: 10px 10px 10px 0;
}

.classDisplay {
    padding: 5px;
    margin: 5px 0;
}

.classDisplay .description button {
    float: right;
}

.description-table {
  width: 100%;
}

.description {
    font-weight: bold;
    padding-right: 6px;
}

.addButton {
  float: right;
}

#planLayout {
    margin-top: 30px;
}


.slotDisplay {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.slotDisplay.selected {
    border: 5px solid green;
}

.slotDisplay h3 {
    width: 100%;
    text-align: center;
}

.classButton {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.removeButton {
    border: none;
    background: #FFF;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    vertical-align: bottom;
}

