@lightGrey: #f4f4f4;
@borderGrey: darken(@lightGrey, 20%);
@ssuBlue: #0069AA;
@ssuBlueBorder: lighten(@ssuBlue, 10%);


#query {
  display: block;
  width: 100%;
  height: 35px;
  font-size: 25px;
}

#logo {
  height: 100px;
}

#query:hover {
    border: 1px solid #43759C;
}

#results  {
  padding-bottom:200px;
}

#results td {
  padding-right: 5px;
}

.courseDisplay {
  margin: 0px 0px 10px 5px;
  border-bottom: 1px solid @borderGrey;
}

.classDisplay {
    padding: 5px;
    margin: 5px 0;
}

.classTableHeader {
  th {
    font-size: 20px;
  }
}

.courseTitle {
  width:200px;
}

.description {
  font-size: 18px;
}

.addButton {
  float: right;
  min-width: 72px;
}

#planLayout {
    margin-top: 30px;
}


.slotDisplay {
    border: 1px solid @borderGrey;
    padding: 1px;
    margin-bottom: 15px;
}

.slotDisplay.selected {
    border: 2px solid @ssuBlue;
    padding: 0px;
}

.slotDisplay h3 {
  width: 100%;
  text-align: left;
  color: @ssuBlue;
  font-size: 30px;
  float : left;
}

.classButton {
  display: inline-block;
  width: 100%;
  padding: 4px 0px;

  span {
    margin-left: 3px;
  }
}

.removeButton {
  font-size: 20px;
  vertical-align: bottom;
  float: right;
  position: relative;
  right: 4px;
}

.class-icon {
  border: 2px solid;
  position: relative;
  top: 5px;
  font-size: 12px;
  float: right;
  margin-left: 5px;
}


.info-icon {
  border-radius: 50%;
  font-weight: bold;
  font-style: italic;
}

.info-i {
  padding: 0px 6px;
}

.info-question {
  padding: 0px 5px;
}

.btn-small {
  padding: 0px 8px;
  margin-left: 10px;
  cursor: default;
}

.loadMoreResults {
  width: 100%;
  padding: 10px;
  margin: 3px 0px 10px 5px;
}

.ge-icon {
  padding: 1px;
  border-radius: 5px;
  margin-left: 6px;
  font-weight: bold;
  top: 4px;
}

.plan-info {
  position: absolute;
  top: 5px;
  right: 5px;
}

.courseInfo {
  height: 36px;
}

.loadMoreClasses {
  float: right;
}

.classButtonRowTable {
  margin-bottom : 0px;

  thead {

    th {
      font-size: 20px;
    }

    th.classes {
        text-align: left;
        padding-left: 40px;
    }

    th.name {
        width: 70px;
    }
  }
}


.courseUnits {
}

.generateButton, .viewFavorites {
  display: inline-block;
}

.searchTopBar {
  background-color: @ssuBlue;
  margin-bottom:10px;
  border-bottom: 2px solid @ssuBlueBorder;
}

.searchTopBar #login-buttons {
  position: relative;
  top: 40px;
  left: 20px;

  .login-link-text {
    color: #FFF;
  }
}

.searchLayout::-webkit-scrollbar, .planLayout::-webkit-scrollbar {
  display: none;
}

.searchLayout, .planLayout {
  overflow-y: scroll;
  height:100%;
  padding-bottom: 200px;
}

.planLayout, .planLayoutHeader {
  position:relative;
  right:10px;
}

.searchBarContainer {
  width: 100%;
  padding: 0px 5px 10px 5px;
}

#searchPageContainer {
  overflow: hidden;
  width:100%;
}

.capacity-header {
  float: right;
  padding-right: 2px;
}

.slot-collapse, .slot-expand {
  float: right;
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  padding: 10px;
  font-size: 20px;
}

tr.moreClassButton {

  text-align: center;

  span {
    font-size: 20px;
  }
}

.moreClassButtonLabel {
}



