
/* The login menu has to be set at a specific height and I chose to center mine. */

#login-screen {
  width: 250px;
  height: 225px;
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}
