<template name="aboutPage">
{{> topBar}}
<div id="aboutPage">
  <h1><b>FAQ</b></h1>
  <h2>What is the SSU Scheduler?</h2>
    <h3>The SSU Scheduler is an application to help you, the student, prepare for registering for classes. This is NOT a place to register for classes. The SSU Scheduler will generate a list of possible schedules in a weekly view. This includes the add codes for each class which students may copy and paste into their shopping cart in MySSU at the time of their registration.</h3>

    <h2>What can I search for?</h2>
  <h3>Search by units, professor, class, subject, or upper and lower division classes. Searching for a class will also return information about seats offered in the class.</h3>
  <h3>Example Querys:</h3>

  <li><b>riv</b>: all the courses that Dr. Rivoire teaches. It just so happens that she is the only instructor whose last-name begins with letters riv.</li>
  <li><b>cs</b>: list of all CS course.</li>
  <li><b>cs ud</b>: all upper-division CS courses.</li>
  <li><b>cs 242</b>: all CS 242 sections.</li>
  <li><b>cs 242 rav</b>: all CS 242 sections taught by Dr. Ravikumar (the only faculty whose last-name begins with rav)</li>
  <li><b>ge</b>: all GE courses.</li>
  <li><b>ge c3 ud</b>: all upper-division Area C3 GE courses.</li>
  <li><b>ge d 4</b>: all 4-unit GE courses in Area D.</li>
  <!--
  <li>Class Name <i>[Example: Biol110]</i></li>
  <li>Professor Name <i>[Example: Kooshesh]</i></li>
  <li>GE Section <i>[Example: GE B3]</i></li>
  <li>Upper Division <i>[Example: UD]</i></li>
  <li>Lower Division <i>[Example: LD]</i></li>
  <li>Units <i>[Example: 3]</i></li>
  <li><i>Example of a complex query [GE class, B3 category, Upper Division, 4 units]: GE B3 UD 4</i></li>
  -->

  <p> </p>
  {{> SearchScreenShot }}

  <h2>What is the slot system?</h2>
  <h3>The slot system is the key to how the SSU Scheduler generates schedules. The more classes that are in each slot, the more schedules will be generated. For example, one class in each slot will return one schedule. Two classes in one slot will return two schedules, and so on.</h3> 

  <h2>How to use the slot system:</h2>
  <h3>Add a section to a slot by selecting the 'add' button. Navigate beween slots by clicking on them. Delete a section from a slot by clicking the X button.</h3>

  <h3><i>BIOL110 has been added to the first slot.</i></h3>
  {{> SlotScreenShot1 }}

  <h3>Select the 'add all' button to add all options returned by the query to a single slot.</h3>
  <h3><i>All sections of MATH 160 have been added to a single slot. Schedules that are generated will contain one section of the MATH 160 classes and the one BIOL110 class.</i></h3>
  {{> SlotScreenShot2 }}
    
  <h3>To view schedules based on your selections, select the 'Generate and View Schedules' button. View different schdeules and save your favorite ones by slecting the 'Set Schedule as Favorite' button.</h3>
  {{> ScheduleGenExample }}

    <h2>Have any additional comments and questions?</h2>
    <h3>Contact us at: ssuscheduler@gmail.com</h3>
    <h3>Please complete our <a href="https://www.surveymonkey.com/s/6YP3X7W">survey</a></h3>
  </div>
</template>

<template name="SearchScreenShot">
    <img id="searchSS" src="/image/SearchScreenShot2.png" width="1000">
</template>

<template name="SlotScreenShot1">
    <img id="ss1" src="/image/SlotScreenShot1.png">
</template>

<template name="SlotScreenShot2">
    <img id="ss2" src="/image/SlotScreenShot2EDITED.png" width="1000">
</template>

<template name="ScheduleGenExample">
    <img id="SchedGenSS" src="/image/ScheduleGenExample.png" width="1000">
</template>
