<!-- Template for displaying favorite schedules -->
<template name="favoritePage">
  {{> topBar}}
  {{> favoritePageControls}}
  {{#if hasSchedule}}
    {{> favoriteScheduleView}}
  {{/if}}
  {{> favoriteTable}}
</template>

<template name="favoriteScheduleView">
  {{> schedulePageTable}}
  {{> schedule}}
</template>

<template name="favoritePageControls">
  <div id="favoritePageControls">
    <button class="btn btn-default returnToSearch" title="Return to the search view.">Return to search</button>
  </div>
</template>


