<!-- Course search page -->
<template name="searchPage">
  <div id="searchPageContainer">
    <div class="searchTopBar">
      {{> ssuLogo }}
    </div>
    <div class="row header">
      <div class="col-md-8 searchLayoutHeader"> {{> searchBar }} </div>
      <div class="col-md-4 planLayoutHeader visible-md visible-lg"> {{> planLayoutControls}} </div>
    </div>
    <div class="row">
      <div class="col-md-8 searchLayout"> {{> searchLayout }} </div>
      <div class="col-md-4 planLayout visible-md visible-lg"> {{> planLayout }} </div>
    </div>
  </div>
</template>

<template name="planLayout">
  <!-- <div class="info-icon info-question plan-info" title="Slots allow you to build a schedule by requiring a class from each slot. For example if you have 3 slots this will generate schedules with 3 classes where 1 class from each slot is selected." >?</div> -->
  {{#each slots}}
      {{> slotDisplay }}
  {{/each}}
  {{> slotDisplay}}
  
</template>

<template name="planLayoutControls">
  <button class="generateButton btn btn-default" {{generateButtonEnabled}} title="Generate the schedules for the current slots and view the results">Generate and View Schedules</button>
  <button class="viewFavorites btn btn-default" {{favoritesButtonEnabled}} title="View and modify your favorite schedules.">View Favorites</button>
</template>

<template name="slotDisplay">
  <div class="slotDisplay {{selectedOrEmpty}}">
      <h3 class="slotInfo" >Slot {{slotNumber}}</h3>
      <table class="table table-striped classButtonRowTable">
        <tbody>
          {{#each classes}}
              {{> classButton }}
          {{/each}}
        </tbody>
      </table>
  </div>
</template>

<template name="classButton">
  <tr>
    <td>{{subject_with_number}}</td>
    <td>{{title}}</td>
    <td> <button class="btn btn-danger btn-small removeButton" title="Remove {{subject_with_number}} from this slot">x</button> </td>
  </tr>
</template>

<template name="searchLayout">
  {{> queryDisplay }}
</template>

<template name="ssuLogo">
    <img id="logo" src="/image/ssu_logo.jpg">
</template>


<template name="searchBar">
  <div class="searchBarContainer">
    <input type="text" id="query" placeholder="Search for classes" />
  </div>
</template>

<template name="queryDisplay">
    <div id="results">
        {{#each queryResults}}
            {{> courseDisplay }}
        {{/each}}
        {{#if moreResults}}
          <button class="btn btn-default loadMoreResults" title="There are additional courses for your search query"> &#9660; Load More Results </button>
        {{/if}}
    </div>
</template>

<template name="courseDisplay">
    <div class="courseDisplay" >
        <table class="description-table table">
          <tbody>
            <tr class="description">
                <th class="courseTitle" title="{{title}}" description="{{description}}">{{title}}</th>
                <th class="courseSubject">{{subject_with_number}}</th>
                <th class="courseSubject">{{units}} units</th>
                <th><button class="addButton btn btn-primary visible-md visible-lg" title="Add all classes for this course to the current slot">Add All</button></th>
            </tr>
            {{#each augmentedClasses}}
            <tr>
              {{> classDisplay }}
            </tr>
            {{/each}}
          </tbody>
        </table>

        <div class="courseInfo">
          <span title="{{title}}" description="{{description}}" class="info-icon info-i">i</span>
        {{#each geCodes}}
          <span class="ge-icon" title="This course fulfills the general education category {{this}}">GE {{this}}</span>
        {{/each}}
        {{#if moreResults}}
          <button class="btn btn-default loadMoreClasses" course="{{subject_with_number}}" title="Load more classes for this course"> &#9660; Load More </button>
        {{/if}}
        </div>
    </div>
</template>

<template name="classDisplay">
  <td> Section {{number}} </td>
  <td colspan=2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Times</th>
          <th>Location</th>
          <th>Professor</th>
          <th><span class="capacity-header">Capacity</span></th>
        </tr>
      </thead>
      <tbody>
      {{#each sections}}
        {{> sectionDisplay }}
      {{/each}}
      </tbody>
    </table>
  </td>
  <td> <button class="addButton btn btn-primary visible-md visible-lg" title="Add this class to the current slot">Add</button> </td>
</template>

<template name="sectionDisplay">
  <tr>
    <td>{{#each times}} {{days}} {{start_time}}-{{end_time}} {{/each}}</td>
    <td>{{#each locations}} {{this}} {{/each}}</td>
    <td>{{#each professors}} {{this}} {{/each}}</td>
    <td>{{> capacityMeter value=totalEnrolled.[0] capacity=capacity.[0] }}</td>
  </tr>
</template>


<template name="addButton">
</template>
