<!-- Course search page -->
<template name="searchPage">
  <div id="searchPageContainer">
    <div class="searchTopBar">
      {{> ssuLogo }}
      {{> loginButtons}}
    </div>
    <div class="row header">
      <div class="col-md-8 searchLayoutHeader"> {{> searchBar }} </div>
      <div class="col-md-4 planLayoutHeader visible-md visible-lg"> {{> planLayoutControls}} </div>
    </div>
    <div class="row">
      <div class="col-md-8 searchLayout"> {{> searchLayout }} </div>
      <div class="col-md-4 planLayout visible-md visible-lg"> {{> planLayout }} </div>
    </div>
  </div>
</template>

<template name="searchTopBarControls">
  <button class="btn btn-default btn-xs logoutButton">Logout</button>
</template>

<template name="planLayout">
  {{#each slots}}
      {{> slotDisplay }}
  {{/each}}
  {{> slotDisplay}}
  
</template>

<template name="planLayoutControls">
  <button class="generateButton btn btn-default" {{generateButtonEnabled}} title="Generate the schedules for the current slots and view the results">Generate and View Schedules</button>
  <button class="viewFavorites btn btn-default" {{favoritesButtonEnabled}} title="View and modify your favorite schedules.">View Favorites</button>
</template>

<template name="slotDisplay">
  <div class="slotDisplay {{selectedOrEmpty}}">
      <table class="table table-striped classButtonRowTable">
        <thead>
          <th class="name"> {{slotName}} </th>
          <th class="classes"> 
            {{#if numberOfClasses }}
              {{numberOfClasses}} classes
            {{/if}}
          </th>
          <th class="slot-controls">
            {{#if numberOfClasses }}
              {{> slotCollapse}} 
              {{#if numberOfClasses}}
                {{> slotRemove}}
              {{/if}}
            {{else}}
              <span class="glyphicon glyphicon-plus slot-add" title="Add classes to this slot if you want another class for your schedule"></span>
            {{/if}}
          </th>
        </thead>
        <tbody>
          {{#each modifiedClasses}}
              {{> classButton}}
          {{/each}}
          {{#if truncated}}
            {{#if hasMoreClasses}}
              {{> moreClassButton}}
            {{/if}}
          {{/if}}
        </tbody>
      </table>
  </div>
</template>

<template name="slotRemove">
  <span class="glyphicon glyphicon-remove slot-remove" title="Remove all of the classes from this slot"></span>
</template>

<template name="slotCollapse">
  <span class="{{isCollapsedClass}} {{collapsedGlyph}}"></span>
</template>

<template name="moreClassButton">
  <tr class="moreClassButton">
    <td colspan=3><span>...</span></td>
  </tr>
</template>

<template name="classButton">
  <tr>
    <td>{{subject_with_number}}</td>
    <td>{{title}}</td>
    <td><span class="glyphicon glyphicon-remove removeButton" title="Remove {{subject_with_number}} from this slot"></span></td>
  </tr>
</template>

<template name="searchLayout">
  {{> queryDisplay }}
</template>

<template name="ssuLogo">
    <img id="logo" src="/image/ssu_logo.jpg">
</template>


<template name="searchBar">
  <div class="searchBarContainer">
    <input type="text" id="query" placeholder="Search for classes" />
  </div>
</template>

<template name="queryDisplay">
    <div id="results">
      {{#if hasResults}}
        <button class="btn btn-primary visible-md visible-lg addButton" title="Add all classes for this query to the current slot">Add All</button>
      {{/if}}
      {{#each queryResults}}
          {{> classDisplay }}
      {{/each}}
      {{#if moreResults}}
        <button class="btn btn-default loadMoreResults" title="There are additional courses for your search query"> &#9660; Load More Results </button>
      {{/if}}
    </div>
</template>

<template name="courseDisplay">
    <div class="courseDisplay" >
        <table class="description-table table">
          <tbody>
            <tr class="description">
                <th class="courseTitle" title="{{title}}" description="{{description}}">{{title}}</th>
                <th class="courseSubject">{{subject_with_number}}</th>
                <th class="courseSubject">{{units}} units</th>
                <th><button class="addButton btn btn-primary visible-md visible-lg" title="Add all classes for this course to the current slot">Add All</button></th>
            </tr>
            {{#each augmentedClasses}}
            <tr> {{> classDisplay }} </tr>
            {{/each}}
          </tbody>
        </table>


    </div>
</template>

<template name="classDisplay">
  <table class="table">
    <thead class="classTableHeader">
      <th class="courseTitle">{{title}}</th>
      <th>{{subject_with_number}}</th>
      <th class="courseUnits">{{units}} units</th>
      <th>    
        <div class="courseInfo">
          <span title="{{title}}" description="{{description}}" class="class-icon info-icon info-i">i</span>
          {{#each geCodes}}
            <span class="class-icon ge-icon" title="This course fulfills the general education category {{this}}">GE {{this}}</span>
          {{/each}}
        </div>
      </th>
    </thead>
    <tbody>
      <td> Section {{number}} </td>
      <td colspan=2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Times</th>
              <th>Location</th>
              <th>Professor</th>
              <th><span class="capacity-header">Capacity</span></th>
            </tr>
          </thead>
          <tbody>
          {{#each sections}}
            {{> sectionDisplay }}
          {{/each}}
          </tbody>
        </table>
      </td>
      <td> <button class="addButton btn btn-primary visible-md visible-lg" title="Add this class to the current slot">Add</button> </td>
    </tbody>
  </table>

</template>

<template name="sectionDisplay">
  <tr>
    <td>{{#each times}} {{days}} {{start_time}}-{{end_time}} {{/each}}</td>
    <td>{{#each locations}} {{this}} {{/each}}</td>
    <td>{{#each professors}} {{this}} {{/each}}</td>
    <td>{{> capacityMeter value=totalEnrolled.[0] capacity=capacity.[0] }}</td>
  </tr>
</template>


