<template name="favoriteSchedule">
  <tr class="favoriteScheduleEntry">
    <td> <span class="favoriteScheduleName"> {{this.name}} </span> </td>
    <td> <button class="btn btn-default loadFavoriteSchedule" title="View this schedule">View</button> </td>
    <td> <button class="btn btn-default editFavoriteSchedule" title="Edit the classes for this schedule">Edit</button> </td>
    <td> <button class="btn btn-default renameFavoriteSchedule" >Rename</button> </td>
    <td> <button class="btn btn-danger deleteFavoriteSchedule" >Delete</button> </td>
  </tr>
</template>

<template name="favoriteTable">
  <table id="favoriteTable" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each favoriteSchedules}}
        {{> favoriteSchedule}}
      {{/each}}
    </tbody>
  </table>
</template>
