<template name="planLayoutControls">
  <button class="btn btn-default generateButton" {{generateButtonEnabled}} title="Generate the schedules for the current slots and view the results">Generate and View Schedules</button>
  <button class="btn btn-default clearAllSlots" {{clearAllSlotsEnabled}}>Clear</button>
</template>

<template name="slotDisplay">
  <div class="slotDisplay {{selectedOrEmpty}}">
      <table class="table table-striped classButtonRowTable">
        <thead>
          <th class="name" title="{{name}}" colspan=2> {{slotName}} </th>
          <th class="classes"> 
            {{#if hasClasses }}
              {{numberOfClassesLabel}}
            {{/if}}
          </th>
          <th class="slot-controls">
            {{#if hasClasses}}
              {{> slotCollapse}} 
              {{> slotRemove}}
            {{/if}}
          </th>
        </thead>
        <tbody>
          {{#each modifiedClasses}}
              {{> classButton}}
          {{/each}}
          {{#if truncated}}
            {{#if hasMoreClasses}}
              {{> moreClassButton}}
            {{/if}}
          {{/if}}
        </tbody>
      </table>
  </div>
</template>

<template name="slotRemove">
  <span class="glyphicon glyphicon-remove slot-remove" title="Remove all of the classes from this slot"></span>
</template>

<template name="slotCollapse">
  <span class="{{isCollapsedClass}} {{collapsedGlyph}}"></span>
</template>

<template name="planLayout">
  {{#each slots}}
      {{> slotDisplay }}
  {{/each}}
  {{> slotDisplay}}
  
</template>

<template name="classButton">
  <tr>
    <td>{{number}}</td>
    <td>{{subject_with_number}}</td>
    <td>{{title}}</td>
    <td><span class="glyphicon glyphicon-remove removeButton" title="Remove {{subject_with_number}} from this slot"></span></td>
  </tr>
</template>

